body {
    height: 100%;
}

header {
    background-color: aquamarine;
    height: 10%;
    min-height: 80px;
    justify-content: flex-start;
}

content {
    display: flex;
    height: 85%;
}

aside {
    background-color: aqua;
    width: 30%;
    max-width: 200px;
    min-height: 100%;
}

main {
    background-color: antiquewhite;

    width: 100%;
    min-height: 100%;
}

footer {
    height: 5%;
    background-color: azure;
}