body {
    background: #0e83cd;
}

a {
    
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 15rem;
    border: 3px solid white;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.vertical {
    position: relative;
}

.vertical:hover::before {
    background: #0e83cd;
}


.vertical::after {
}

.vertical:hover::after {
    background-color:#11a4ff;
}
